<mat-drawer-container class="map-container" autosize [hasBackdrop]="false" fxLayoutAlign="center center">
  <mat-drawer fxFlex="100" #drawerAutoSearch class="map-sidenav-search-bar" mode="side" [opened]="true">
    <app-address-autocomplete></app-address-autocomplete>
  </mat-drawer>
</mat-drawer-container>

<mat-drawer-container class="map-container" autosize [hasBackdrop]="false" fxLayout="column" fxLayoutAlign="center center">
  <mat-drawer #drawerHomeAddedItems class="map-sidenav-homeList"  mode="push" [opened]="true">
    <app-geo-added-home-list></app-geo-added-home-list>
  </mat-drawer>
</mat-drawer-container>

<app-map></app-map>
