<div *ngIf="selectedElement" fxLayout="column" fxLayoutAlign="center stretch" class="realstate-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tiêu đề:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{selectedElement.title}}</p>
      <a [href]="selectedElement.html">Bài gốc</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Địa chỉ:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{selectedElement.address}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Mô tả:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="lines">
      <p>{{selectedElement.description}}</p>
    </mat-card-content>
  </mat-card>
  <app-image-viewer *ngIf="selectedElement" class="full-height full-width" [images]="selectedElement.images"
    [height]="'200'"></app-image-viewer>
</div>