<div *ngIf="selectedElement" fxLayout="column" fxLayoutAlign="center stretch" class="realstate-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tiêu đề:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{selectedElement.title}}</p>
      <a [href]="selectedElement.html">Bài gốc</a>
    </mat-card-content>
  </mat-card>
  <button mat-flat-button color="primary" (click)="direction()">
    <span>Chỉ đường</span>
    <mat-icon> directions</mat-icon>
  </button>
  <button mat-flat-button color="primary" href="tel:+0858008266?">
    <span>Gọi điện</span>
    <mat-icon> phone</mat-icon>
  </button>
  <button mat-flat-button color="primary" href="sms:+0858008266?&body=Hi. My name is">
    <span>Nhắn tin</span>
    <mat-icon> textsms</mat-icon>
  </button>
  <button mat-flat-button color="primary" href="sms:+0858008266?&body=Hi. My name is">
    <span>Zalo</span>
    <mat-icon>textsms</mat-icon>
  </button>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Địa chỉ:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{selectedElement.address}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Mô tả:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="lines">
      <p >{{selectedElement.description}}</p>
    </mat-card-content>
  </mat-card>
  <app-image-viewer *ngIf="selectedElement" class="full-height full-width" [images]="selectedElement.images"
    [height]="'300'"></app-image-viewer>
</div>

