<div class="geoitem-container" *ngIf="getList().length > 0">
  <span *ngFor="let geocodeAddedItem of getList()">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button class="button-text" mat-raised-button color="primary" (click)="target(geocodeAddedItem)" fxLayoutAlign="start center">
        {{geocodeAddedItem?.address?.label}}
      </button>
      <button mat-mini-fab color="warn" (click)="deleteItem(geocodeAddedItem)"><mat-icon>delete</mat-icon></button>
    </div>
  </span>
</div>