<form [formGroup]="sheetItemEditForm">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Nhập link bài viết facebook để tự động nhập nội dung :</mat-label>
      <textarea matInput #html formControlName="html" placeholder="Chọn chia sẻ -> Sao chép liên kết" required rows="2"
        (change)="fetchContentFromUrl(html.value)"></textarea>
    </mat-form-field>
    

    <mat-form-field hidden>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" placeholder="Id" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Địa chỉ:</mat-label>
      <input matInput formControlName="address" placeholder="Ví dụ: 26 Đinh Bộ Lĩnh, Bình Thạnh" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tiêu đề:</mat-label>
      <input matInput formControlName="title" placeholder="Tựa đề" required>
      <mat-spinner [diameter]="30" [hidden]="!linkloading"></mat-spinner>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mô tả:</mat-label>
      <textarea matInput formControlName="description" placeholder="Mô tả" required rows="10"
        [disabled]="true"></textarea>
        <mat-spinner [diameter]="30" [hidden]="!linkloading"></mat-spinner>
    </mat-form-field>
    <app-image-uploader [inputImages]="selectedImages" (imagesChanged)="imagesUpdated($event)"></app-image-uploader>
    <div>
      <button class="button-front" mat-raised-button color="primary" (click)="update()" mat-button>Cập nhật thay
        đổi</button>
    </div>
  </div>
</form>