.toggle-side-bar-button
{
    position: relative;
    z-index: 100;
    bottom: 0;
    left: 50%;
    top:0;
    transform: translate(-50%,-50%);
}

.container{
    transform: translateY(-8px);
}

.custom-bottom-sheet-container{
    overflow: visible !important;
}
