<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <div style="height: 0;">
    <button class="toggle-side-bar-button" color="primary" mat-mini-fab (click)="closeTools()">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div fxFlexOffset="10">
    <div *ngFor="let tool of (mapStateService.stateObservable | async)?.toolState | orderBy: 'description'">
      <mat-label>{{tool.description}}</mat-label>
      <mat-slide-toggle #slideToggle (change)="tool.status = !tool.status; change(tool.toolType, tool.status)"
        [checked]="tool?.status" class="tool-margin" color="primary" [disabled]="false">
      </mat-slide-toggle>
    </div>
  </div>
</div>