<mat-stepper>
  <mat-step>
    <ng-template matStepLabel>Cài đặt</ng-template>
    <form [formGroup]="settingFormGroup">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thông tin cá nhân
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Tên</mat-label>
            <input matInput formControlName="name" placeholder="Tuấn Phạm" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Số điện thoại</mat-label>
            <input matInput formControlName="phone" placeholder="08xxxxxxxx" type="number">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Đăng bài mới
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-new-item (itemposted)="itemposted($event)"></app-new-item>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Những bài đã đăng
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-input-sheet-table formControlName="realstateDatas"></app-input-sheet-table>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <button mat-raised-button color="primary" matStepperNext (click)="save()">Lưu thay đổi</button>
  </mat-step>
  <mat-step>
    <div fxLayoutAlign="center center" class="step-container">
      <ng-template matStepLabel>Xem trước bản đồ của bạn</ng-template>
      <iframe #mapIframe class="map-preview-iframe" [src]="mapUrl"></iframe>
    </div>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Trở lại</button>
      <button mat-raised-button color="primary" (click)="publish()">Hoàn tất</button>
    </div>
  </mat-step>
</mat-stepper>
