.step-content-container {
  width: 100%;
  padding: 20px;
  margin: 10px;
}

.map-preview-iframe{
  width: 100%;
  min-height: 70vh;
  pointer-events: none;
}

mat-spinner{
  margin: 10px;
}

mat-form-field {
  width: 100%;
}