<!-- <mat-button-toggle-group>
  <mat-button-toggle mat-fab color="basic" #button [value]="type" (change)="change(button.value)">
    <img src="/assets/image/measure.png">
  </mat-button-toggle>
</mat-button-toggle-group> -->


<mat-card>

</mat-card>
<mat-card-content fxLayout="column" fxLayoutAlign="space-between start">

</mat-card-content>

<mat-slide-toggle class="tool-margin" color="primary" [checked]="false" [disabled]="false">
  Đo khoảng cách
</mat-slide-toggle>
<mat-slide-toggle class="tool-margin" color="primary" [checked]="false" [disabled]="false">
  Đo khoảng cách
</mat-slide-toggle>