.map-container {
  width: 0%;
  height: 0%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.map-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.map-sidenav-search-bar {
  width: 30%;
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 3;
  height: fit-content;
  background-color: transparent;
  box-shadow: none !important
}


.map-sidenav-item {
  width: 40%;
  position: fixed;
}

.map-sidenav-homeList {
  width: 30%;
  position: fixed;
  left: 10px;
  top: auto;
  bottom: 10px;
  height: fit-content;
  background-color: transparent;
  box-shadow: none !important
}

.map-sidenav-agent {
  width: 30%;
  height: fit-content;
  position: fixed;
  top: 10px;
  right: 10px !important;
  
}

.map-sidenav-controls {
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
  bottom: 10px;
  background-color: transparent;
  box-shadow: none !important
}