<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" *ngIf="value?.length??0>0">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <td mat-cell *matCellDef="let element" class="button-cell">
      <button mat-mini-fab aria-label="expand row" color="primary"
        (click)="selectEdit(element); $event.stopPropagation()">
        Sửa
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-sheet-item-edit *ngIf="element == expandedElement" [realstateData]="element"
          (updatedOrPosted)="itemUpdated($event)" (deleted)="deletedItem($event)"></app-sheet-item-edit>
      </div>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<span *ngIf="!value?.length">Chưa có bài đăng nào</span>
