.header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-image: url('/assets/image/home.png');
  background-size: cover;
}

.sheet-item-header{
  width: 100%;
}

.sheet-item-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
