<div *ngFor="let element of value">
  <div fxLayout="column" fxLayoutAlign="start start" class="sheet-item-container">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="sheet-item-header">
      <h3 #target>
        {{element.title}}
      </h3>

      <div fxLayout="column" fxLayoutAlign="start start">
        <button mat-mini-fab color="primary" (click)="selectEdit(element); target.scrollIntoView()">Sửa</button>
        <button mat-mini-fab color="warn" (click)="deletedItem(element);">Xoá</button>
      </div>
    </div>

    <app-sheet-item-edit [hidden]="expandedElement !== element" [realstateData]="element" class="full-width"
      (updatedOrPosted)="itemUpdated($event)" (deleted)="deletedItem($event)"></app-sheet-item-edit>
  </div>
</div>