<mat-form-field class="full-width">
  <mat-label>Chọn bài đăng</mat-label>
  <mat-select disableRipple (valueChange)="selected($event)" [value]="selectedItem?.id">
    <mat-option [value]="element.id" [id]="element.id" *ngFor="let element of value">
      {{element.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="selectedItem!=undefined" fxLayout="column" fxLayoutAlign="start stretch"  class="sheet-item-container">
  <app-sheet-item-edit  [realstateData]="selectedItem" class="full-width" [expanded]="expanded"
    (updatedOrPosted)="itemUpdated($event)" (deleted)="deletedItem($event)"></app-sheet-item-edit>
</div>