<section fxLayout="row" fxLayoutAlign="start center">
    <mat-radio-group [(ngModel)]="type" [value]="'AccountLink'">
        <span>Đăng bài từ:</span>
        <mat-radio-button value="AccountLink">
        </mat-radio-button>
        <span>link tài khoản</span>
        <mat-radio-button value='ListingLink'>
        </mat-radio-button>
        <span>link bài viết</span>
    </mat-radio-group>
</section>

<div *ngIf="type=='AccountLink'">
    <app-posting-from-account-link (itemsPosted)="multipleItemsPosted($event)"></app-posting-from-account-link>
</div>

<div *ngIf="type=='ListingLink'">
    <app-sheet-item-edit [realstateData]="element" [isNew]="true"
        (updatedOrPosted)="singleItemPosted($event)"></app-sheet-item-edit>
</div>