<div className="image-container" fxLayout="row" fxLayoutAlign="start start">
  <div class="image-icon-container">
    <mat-button-toggle-group [dir]="'ltr'" [vertical]="true">
      <mat-button-toggle *ngFor="let imageUrl of images" (click)="selectedImage = imageUrl">
        <img [src]="imageUrl" class="image-icon">
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="image-container" fxLayout="row" fxLayoutAlign="center center">
    <img class="image" [height]="height" [src]="selectedImage" loading="lazy">
  </div>
</div>