.image-large{
    height: 320px;
}

.image-icon {
    height: 40px;
}

.image-container{
    height: 400px;
    width: 100%;
}

.content{
   
}

.content .title{
    
} 

.content .description{
    
} 