
<div class="image-container">
  <a [href]="selectedImage" target="_blank">
    <img [src]="selectedImage" class="image-large">
  </a>

  <br>
  <!-- <mat-button-toggle-group>
    <mat-button-toggle *ngFor="let imageUrl of currentItem?.realstateData[0]?.images">
      <img [src]="imageUrl" class="image-icon" (click)="selectedImage = imageUrl">
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="content">
  <div class="title">
    {{currentItem?.realstateData[0].title}}
  </div>
  <div class="description">
    {{currentItem?.realstateData?.description}}
  </div>
</div> -->

